<div class="container">
  <div ng-controller="ProductsCtrl">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline" ng-submit="addProducts()">
          <div class="form-group">
            <input type="text" class="form-control" name="url" placeholder="url" ng-model="product.url" />
					</div>
					<div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="title" ng-model="product.title" />
          </div>
					<div class="form-group">
            <input type="text" class="form-control" name="mobile_number" placeholder="mobile_number" ng-model="product.mobile_number" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="Description" ng-model="product.description" />
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-click="sortProducts('url', sorting.order)" ng-class="sorting.sort_by == 'url' ? 'text-underline' : ''" class="col-md-3">
                url
                <span ng-if="sorting.sort_by == 'url'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
              </th>
              <th ng-click="sortProducts('title', sorting.order)" ng-class="sorting.sort_by == 'title' ? 'text-underline' : ''" class="col-md-2">
                title
                <span ng-if="sorting.sort_by == 'title'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
              </th>
              <th ng-click="sortProducts('price', sorting.order)" ng-class="sorting.sort_by == 'price' ? 'text-underline' : ''" class="col-md-2">
                price
                <span ng-if="sorting.sort_by == 'price'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
              </th>
              <th ng-click="sortProducts('description', sorting.order)" ng-class="sorting.sort_by == 'description' ? 'text-underline' :''" class="col-md-3">
                Description
                <span ng-if="sorting.sort_by == 'description'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
							</th>
							<th ng-click="sortProducts('mobile_number', sorting.order)" ng-class="sorting.sort_by == 'mobile_number' ? 'text-underline' :''" class="col-md-3">
							mobile_number
							<span ng-if="sorting.sort_by == 'mobile_number'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
						</th>
              <th class="col-md-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in Products" ng-include="toggleForm(product)"></tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/ng-template" id="form">
      <td>
        <input ng-model="editing.url" type="text" class="form-control" name="url" />
      </td>
      <td>
        <input ng-model="editing.title" type="text" class="form-control" name="title" />
      </td>
      <td>
        <input ng-model="editing.price" type="text" class="form-control" name="price" />
      </td>
      <td>
        <input ng-model="editing.description" type="text" class="form-control" name="description" />
      </td>
      <td>
        <button ng-click="hideForm()" class="btn btn-default btn-xs">Cancel</button>
        <button ng-click="updateProduct($index)" class="btn btn-success btn-xs">Save</button>
      </td>
    </script>
    <script type="text/ng-template" id="row">
      <td>
        <span>{{product.url}}</span>
      </td>
      <td>
        <span>{{product.title}}</span>
      </td>
      <td>
        <span>{{product.description}}</span>
			</td>
			<td>
        <span>{{product.price}}</span>
      </td>
      <td>
        <span>{{product.mobile_number}}</span>
      </td>
      <td>
        <button ng-click="editProduct(product)" class="btn btn-primary btn-xs">Edit</button>
        <button ng-click="destroyProdsuct(product, $index)" class="btn btn-danger btn-xs">Destroy</button>
      </td>
    </script>
  </div>
</div>


