<div class="container-fluid">
  <div ng-controller="ProductsCtrl">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline" ng-submit="addProduct()">
          <div class="form-group">
            <input type="text" class="form-control" name="url" placeholder="url" ng-model="product.url"style="width: 920px;" />
          </div> &nbsp &nbsp 
          <button type="submit" class="btn btn-primary">Scrap Url</button>
        </form>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th ng-click="sortProducts('url', sorting.order)" ng-class="sorting.sort_by == 'url' ? 'text-underline' : ''" class="col-md-3">
                url
                <span ng-if="sorting.sort_by == 'url'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
              </th>
              <th ng-click="sortProducts('title', sorting.order)" ng-class="sorting.sort_by == 'title' ? 'text-underline' : ''" class="col-md-2">
                Date
                <span ng-if="sorting.sort_by == 'title'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
              </th>
              <th ng-click="sortProducts('price', sorting.order)" ng-class="sorting.sort_by == 'price' ? 'text-underline' : ''" class="col-md-2">
                price
                <span ng-if="sorting.sort_by == 'price'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
              </th>
              <th ng-click="sortProducts('description', sorting.order)" ng-class="sorting.sort_by == 'description' ? 'text-underline' :''" class="col-md-3">
                Description
                <span ng-if="sorting.sort_by == 'description'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
              </th>
              <th ng-click="sortProducts('mobile_number', sorting.order)" ng-class="sorting.sort_by == 'mobile_number' ? 'text-underline' :''" class="col-md-3">
                mobile_number
                <span ng-if="sorting.sort_by == 'mobile_number'" class="glyphicon glyphicon-chevron-{{order}}" aria-hidden="true"></span>
              </th>
              
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in products" ng-include="toggleForm(product)"></tr>
          </tbody>
        </table>
      </div>
    </div>

    <script type="text/ng-template" id="row">
      <td>
        <span>{{product.url}}</span>
      </td>
      <td>
        <span>{{product.title}}</span>
      </td>
      <td>
        <span>{{product.price}}</span>
      </td>
      <td>
        <span>{{product.description}}</span>
      </td>
       <td>
        <span>{{product.mobile_number}}</span>
      </td>
      
    </script>
  </div>
</div>


